body {
    font-size: 16px;
    color: #fff;
    background: url('../images/50-Beautiful-and-Minimalist-Presentation-Backgrounds-03.jpg') no-repeat;
    font-family: 'Abril Fatface', cursive;
  }
.bg-abhi{
    background-color: #FFD3D9;
    
  }
#colori{
    color : #951C49;
}